<%= form_with(model: task) do |f| %>
  
  <div class="mb-3">
    <%= f.label :name, 'ショップ名' %>
    <%= f.collection_select :shop_id, @shops, :id, :name, include_blank: "選択して下さい" %>
  </div>
  
  <div class="mb-3">
    <%= f.label :number, '個数' %>
    <%= f.text_field :number %>
  </div>
  
  <div class="mb-3">
    <%= f.label :content, 'タスク' %>
    <%= f.text_field :content %>
    <%= f.submit '追加' %>
  </div>
  
  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>