<div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= tasks_path %>" class="nav-link <%= 'active' if current_page?(tasks_path) %>">タスク一覧 <span class="badge bg-secondary"><%= @count_tasks %></span></a></li>
      <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">お気に入りショップのタスク一覧 <span class="badge bg-secondary"></span></a></li>
    </ul>
</div>

<h1><%= @shop.name %>のタスク一覧</h1>

<table class="table table-bordered table-hover" >
  <thead>
    <tr class="text-center">
      <th>#</th>
      <th>買うもの</th>
      <th>個数</th>
      <th>編集する</th>
      <th>削除する</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <% @shop.tasks.each do |task| %>
    <tr>
      <th><%= task.id %></th>
      <td><%= task.content %></td>
      <td><%= task.number %></td>
      <td><%= link_to "編集する", edit_shop_path(@shop) %>
      <td><%= link_to "Delete", @shop, method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'btn btn-danger btn-sm' %></td>
    </tr>
    <% end %>
  </tbody>
</table>