<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
      <div class="card-body">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <div class="mt-2 mb-2 row">
      <h1><%= link_to 'タスク一覧', tasks_path %></h1>
    </div>
    
    <div class="mt-5 row">
      <h1><%= link_to 'ショップ一覧・新規登録', shops_path %></h1>
    </div>
    
    <div class="mt-5 row">
      <h1><%= link_to 'ログアウト', logout_path, method: :delete %></h1>
    </div>
  </div>
</div>